.heart {
    position: relative;
    --color: red;
    margin-top: 50px;
    height: 200px; /* adjust to control the size */
    aspect-ratio: 1;
    --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background: var(--color);
    box-shadow: 0 0 50px var(--color);
    z-index: 10;
}

h3{
    --color: grey;
    color: var(--color);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

@supports not (-webkit-mask-box-image: var(--_m)) { 
    .heart {
        mask:
        radial-gradient(at 70% 31%,#000 29%,#0000 30%),
        radial-gradient(at 30% 31%,#000 29%,#0000 30%),
        conic-gradient(#000 0 0) bottom/100% 50% no-repeat;
    }
}

.heart.beat {
    animation: heartbeat 0.5s ease;
}

@keyframes heartbeat {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.25); }
  60%  { transform: scale(1); }
  100% { transform: scale(1); }
}

.hear.idle {
    opacity: 1;
}

.heart.explode {
    animation: explode 0.6s ease forwards;
}

@keyframes explode {
    0%   { transform: scale(1); opacity: 1; }
    40%  { transform: scale(1.6); }
    100% { transform: scale(0); opacity: 0; }
}
